.container {
    width: 100%;
    height: 100vh;
    background: #7c7c7c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checklist {
    font-family: "Inter", sans-serif;
    width: 743px;
    height: 91px;
    border-radius: 10px;
    background: #3579F5;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 18px 0 22px;
}
.checklist_progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:
            radial-gradient(closest-side, #3579F5 93%, transparent 80%),
            conic-gradient(white calc(1/7 * 100%), rgba(255, 255, 255, 50%) 0);
}
.checklist_progress::before {
    content: "1/7";
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
.checklist_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}
.checklist_info_title {
    width: 76px;
    height: 18px;
    border-radius: 40px;
    padding: 0 10px 0 10px;
    background: #2364DB;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 18px;
}
.checklist_info_completed {
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.checklist_info_next-step {
    color: white;
    font-size: 12px;
}
.checklist_btn {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    background: #F4F8FF;
    font-size: 14px;
    color: #4777ED;
}
.checklist_btn:hover {
    background: #e5e9ef;
}
.checklist_btn:active {
    background: #dae3ef;
}